# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# compile and build directories
#-----------------------------
ConsoleTests/bin/*
ConsoleTests/obj/*
Vidka.Components/bin/*
Vidka.Components/obj/*
Vidka.Core/bin/*
Vidka.Core/obj/*
Vidka.CreateFileAssociation/bin/*
Vidka.CreateFileAssociation/obj/*
Vidka.MainForm/bin/*
Vidka.MainForm/obj/*


