<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vidka.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Vidka.Core.Properties.Settings>
            <setting name="ErrorLogFilename" serializeAs="String">
                <value>zerror.log</value>
            </setting>
            <setting name="ProjBackupFile" serializeAs="String">
                <value>zProjBackup.xml</value>
            </setting>
            <setting name="DataNearProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExtensionsVideo" serializeAs="String">
                <value>.avi|.mp4|.mov|.mts|.mkv</value>
            </setting>
            <setting name="FileExtensionsAudio" serializeAs="String">
                <value>.wav|.mp3|.ogg</value>
            </setting>
        </Vidka.Core.Properties.Settings>
    </applicationSettings>
</configuration>