<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vidka.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <applicationSettings>
        <Vidka.Core.Properties.Settings>
            <setting name="ErrorLogFilename" serializeAs="String">
                <value>zerror.log</value>
            </setting>
            <setting name="ProjBackupFile" serializeAs="String">
                <value>zProjBackup.xml</value>
            </setting>
            <setting name="DataNearProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExtensionsVideo" serializeAs="String">
                <value>.avi|.mp4|.mov|.mts|.mkv</value>
            </setting>
            <setting name="FileExtensionsAudio" serializeAs="String">
                <value>.wav|.mp3|.ogg</value>
            </setting>
            <setting name="mencoderArguments" serializeAs="String">
                <value>-ovc x264 -x264encopts preset=slow:tune=film:crf=22 -of lavf -o "{file-video}" -forcedsubsonly -oac mp3lame "{file-avs}" -vf scale,format=i420</value>
            </setting>
            <setting name="ExportVideoExtension" serializeAs="String">
                <value>.mp4</value>
            </setting>
            <setting name="RightTrimMarkerOffsetSeconds" serializeAs="String">
                <value>2</value>
            </setting>
        </Vidka.Core.Properties.Settings>
    </applicationSettings>

</configuration>